[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "LearnNodeJS"]
	path = LearnNodeJS
	url = https://github.com/komavideo/LearnNodeJS.git
